<p-toast key="viewDocumentToast" [style]="{marginTop: '70px'}"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="ui-g prl-2x pt-1x"><div class="ui-g-12 ui-md-6 pt-0">
    <div class="v2">V2</div>
    <p class="mt-0 mb-2 font-bold">
        Screen Shot 2020-03-31 at 12.42.54 PM.png <span class="ml-1x"><a href="#."><img
        src="../../../assets/layout/images/link.svg" width="11"/></a></span>
        <span class="ml-5"><a href="#."><img
            src="../../../assets/layout/images/users-sm.svg" width="18"/></a></span>
    </p>
    <p class="m-0 font-sm text-grey">
        Updated today by Muhammad Imran
    </p>
</div>
    <div class="ui-g-12 ui-md-6 pt-0 text-right">

        <button class="btn-white ml-5" icon="pi pi-ellipsis-h" pButton
                style="width:auto" type="button"></button>

            <button class="btn-white ml-5" label="Download" pButton
                    style="width:auto" type="button"></button>

                <button class="btn-blue ml-5" label="Share" pButton
                        style="width:auto" type="button"></button>
        <button class="btn-link ml-1x text-grey" pButton
                style="width:auto" type="button"><img
            src="../../../assets/layout/images/revock-invt.png" width="10"/></button>
    </div>
</div>
<div class="ui-g bdr-top">
    <div class="dl-view-1 ui-g-12 ui-md-9">
                <div class="hr">
                    <img src="../../../assets/layout/images/preview-img.png"/></div>
        <div class="clearfix"></div>
        <div class="hr2">
            <ul> <li class="btn-angle"><a href="#."><i class="pi pi-angle-left"></i></a></li>
                <li>3 of 4</li>
                <li class="btn-angle"><a href="#."><i class="pi pi-angle-right"></i></a></li>
                <li class="img-zoom ml-2x"><a href="#."><i class="pi pi-minus"></i></a></li>
                <li>116%</li>
                <li class="img-zoom mr-2x"><a href="#."><i class="pi pi-plus"></i></a></li>
                <li class=" ml-3x mt-5"><a href="#."><img
                    src="../../../assets/layout/images/full-size.svg" width="18"/> </a></li>
                <li class=" ml-3x mt-5"><a href="#."> <img
                    src="../../../assets/layout/images/printer.svg" width="16"/> </a></li>
            </ul>
            <div class="clearfix"></div>
    </div>
    </div>
    <div class="dl-view-2 ui-g-12 ui-md-3">
        <p-tabView>
            <p-tabPanel header="Activity">
                <div class="hr">
                    <h6>Activity</h6>
                </div>
            </p-tabPanel>
            <p-tabPanel header=" icon">
                <div class="hr">
                    data2
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    </div>



