<div class="ui-g-12 ui-md-10">
<div class="ui-g">
    <div class="ui-g-12 ui-md-7">
        <p class="mt-0"> Solutiondot  <span class="text-grey ml-1x">Business Plans Plan</span> </p>
</div>
    <div class="ui-g-12 ui-md-5">
    <p class="text-center font-sm text-grey mt-0ng">Updated 4/7/2020 2:13 AM PDT </p>
</div>
</div>
<div class="ui-g">
    <div class="ui-g-12 ui-md-7 p-0">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6">

                <div class="ui-g">
                    <div class="ui-g-2 ui-md-2 p-0">
                        <h6 class="mb-0">Users</h6>
                        <div class="hr font-26">
                        1
                        </div>
                    </div>
                    <div class="ui-g-10 ui-md-10 p-0">
<div class="hr mt-3x">
                        <img class="img-responsive" src="../../../assets/layout/images/AC-chart-1.png"/>
</div>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12 p-0">
                        <div class="hr">
                        <i class="pi pi-check-circle text-green mt-3 pull-left"></i> 2 users remaning
                        </div>
                        <div class="hr mt-5">
                            <a href="#." class="pull-left mr-2x"> Add users</a>       <a href="#.">Buy more users</a>
                        </div>
                    </div>

                </div>


            </div>
            <div class="ui-g-12 ui-md-6">

                <div class="ui-g">
                    <div class="ui-g-4 ui-md-4 p-0">
                        <h6 class="mb-0">Storage</h6>
                        <div class="hr font-26">
                            3.4<span class="font-sm">mb</span>
                        </div>
                    </div>
                    <div class="ui-g-8 ui-md-8 p-0">
                        <div class="hr mt-3x">
                            <img class="img-responsive" src="../../../assets/layout/images/AC-chart-2.png"/>
                        </div>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12 p-0">
                        <div class="hr">
                            <span class="text-green-s "><i class="pi pi-caret-up mt-3 pull-left"></i> 38.5%</span>  In last 5 days
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-5">
        <div class="ui-g bdr-btm">
            <div class="ui-g-6 ui-md-6 p-0">
        <p><img class="pull-left mt-5" src="../../../assets/layout/images/files.png" height="15" width="13"/> <span class="font-sm ml-1x">Top File Types</span>  </p>
            </div>
            <div class="ui-g-6 ui-md-6 p-0">
                <p class="text-right"><span class="font-sm mr-1x">Last 90 Days</span><img src="../../../assets/layout/images/download-blue.png"
                                                                 height="14" width="16"/></p>
            </div>
        </div>
        <div class="ui-g">
            <div class="hr mb-1x mt-1x">
                <div class="ui-g">
                <span class="mr-1x"> <i class="pi pi-circle-on text-blue"></i> Uploads</span>
                <span class="mr-1x"> <i class="pi pi-circle-on text-green-d"></i> Downloads</span>
                <span class="mr-1x"> <i class="pi pi-circle-on text-violet"></i> Previews</span>
                <span class="mr-1x"> <i class="pi pi-circle-on text-red-d"></i> Shares</span>
                </div>
                <div class="hr">
                    <p class="mb-0">Image</p>
                    <div class="hr">

                        <img class="img-responsive" src="../../../assets/layout/images/AC-chart-31.png"/></div>
                </div>
                <div class="hr">
                    <p class="mb-0">Document</p>
                    <div class="hr">

                        <img class="img-responsive" src="../../../assets/layout/images/AC-chart-32.png"/></div>
                </div>
                <div class="hr">
                    <p class="mb-0">Spreadsheet</p>
                    <div class="hr">

                        <img class="img-responsive" src="../../../assets/layout/images/AC-chart-33.png"/></div>
                </div>
                <div class="hr">
                    <p class="mb-0">Spreadsheet</p>
                    <div class="hr">

                        <img class="img-responsive" src="../../../assets/layout/images/AC-chart-33.png"/></div>
                </div>
            </div>

        </div>
    </div>
</div>





<div class="ui-g">
    <div class="ui-g-12">
       <div class="hr">

           <h6>User Activity</h6>
       </div>
        <div class="hr">
            <!--<button pButton type="button" label="Last 90 Days" icon="pi pi-sort-down"
                    class="btn-white w-auto mr-1x">
            </button>-->
            <p-dropdown class="mr-1x bdr-radius-4" [filter]="true"  icon="pi pi-sort-down"> Last 90 Days </p-dropdown>
            <!--<button icon="pi pi-circle-on text-green" pButton type="button" label="Previews" icon="pi pi-sort-down"
                    class="btn-white w-auto">
            </button>-->
            <p-dropdown class="bdr-radius-4" [filter]="true"></p-dropdown>
        </div>
        <div class="hr">

            <img class="img-responsive" src="../../../assets/layout/images/AC-chart-4.png" height="249" width="888"/></div>
    </div>
</div>
</div>
