<div class="ui-g-12 ui-md-10">
    <div class="card card-w-title">
        <div class="form-group ui-fluid">
            <p-tabView>
                <p-tabPanel header="Users">
                    <div class="hr">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-10 prl-0">
                    <div class="hr table-cont mb-2x">
                            <table width="100%" class="table-simple-bdr table-sm" cellspacing="0" cellpadding="0">

                                <tbody>
                                <tr>
                                    <td colspan="5" class="text-right"><button class="btn-white" icon="pi pi-plus" label="New" pButton
                                                                               style="width:auto" type="button">
                                    </button></td>
                                </tr>
                                <tr>
                                    <td style="width:50px" width="10%" valign="middle">
                                        <img src="../../../assets/layout/images/m.png" height="33" width="33"/></td>
                                    <td width="50%" valign="middle">
                                        <h6 class="m-0">Muhammad Imran</h6>
                                        <p class="m-0 font-sm">info@solutiondots.com</p>
                                        <p class="m-0 font-sm"> 3.4 MB</p>
                                    </td>
                                    <td width="15%" valign="middle">
                                        ADMIN
                                    </td>
                                    <td width="15%" valign="middle" class="text-green">
                                        Active
                                    </td>
                                    <td width="10%" valign="middle">

                                </td>
                                </tr>
                                <tr>
                                    <td valign="middle">
                                        <img src="../../../assets/layout/images/m.png" height="33" width="33"/></td>
                                    <td valign="middle">
                                        <h6 class="m-0">Muhammad Imran</h6>
                                        <p class="m-0 font-sm">info@solutiondots.com</p>
                                        <p class="m-0 font-sm"> 3.4 MB</p>
                                    </td>
                                    <td valign="middle">
                                        USER
                                    </td>
                                    <td valign="middle" class="text-blue">
                                        Inactive
                                    </td>
                                    <td valign="middle">

                                    </td>
                                </tr>
                                <tr>
                                    <td valign="middle">
                                        <img src="../../../assets/layout/images/m.png" height="33" width="33"/></td>
                                    <td valign="middle">
                                        <h6 class="m-0">Muhammad Imran</h6>
                                        <p class="m-0 font-sm">info@solutiondots.com</p>
                                        <p class="m-0 font-sm"> 3.4 MB</p>
                                    </td>
                                    <td valign="middle">
                                        USER
                                    </td>
                                    <td valign="middle" class="text-orange">
                                        Invited
                                    </td>
                                    <td valign="middle">

                                    </td>
                                </tr>
                                <tr>
                                    <td valign="middle">
                                        <img src="../../../assets/layout/images/m.png" height="33" width="33"/></td>
                                    <td valign="middle">
                                        <h6 class="m-0">Muhammad Imran</h6>
                                        <p class="m-0 font-sm">info@solutiondots.com</p>
                                        <p class="m-0 font-sm"> 3.4 MB</p>
                                    </td>
                                    <td valign="middle">
                                        USER
                                    </td>
                                    <td valign="middle" class="text-green">
                                        Active
                                    </td>
                                    <td valign="middle" align="right">
                                        <button class="btn-white" icon="pi pi-ellipsis-h" pButton
                                                style="width:auto" type="button">
                                        </button>
                                    </td>
                                </tr>



                                </tbody>
                            </table>
                        </div>

                        </div>
                    </div>
                    </div>
                    <!--Start form-->
                    <div class="form-group ui-fluid pbt-0">
                        <h6>New User Account Details</h6>
                        <div class="hr mb-2x">

                            <div class="ui-g ">
                                <div class="ui-g-12 ui-md-10 prl-0 bdr-light bdr-radius-4">
                                    <div class="ui-g">
                                        <label class="ui-g-12 ui-md-4">Full Name:</label>
                                        <div class=" ui-g-12 ui-md-5">
                                            <input pInputText type="text">
                                        </div>
                                    </div>
                                    <div class="ui-g">
                                        <label class="ui-g-12 ui-md-4">Email:</label>
                                        <div class=" ui-g-12 ui-md-5">
                                            <input pInputText type="text">
                                        </div>
                                    </div>
                                    <div class="ui-g">
                                        <label class="ui-g-12 ui-md-4">Storage allocation (GB):
                                        </label>
                                        <div class=" ui-g-12 ui-md-5">
                                            <input pInputText type="text">
                                        </div>
                                        <div class=" ui-g-12 ui-md-3 mt-5">
                                            <p-checkbox label="Unlimited" name="active">
                                            </p-checkbox>
                                        </div>
                                    </div>
                                    <div class="ui-g">
                                        <label class="ui-g-12 ui-md-4">Role:</label>
                                        <div class=" ui-g-12 ui-md-5">
                                            <p-dropdown filter="true">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                    <div class="ui-g">
                                        <label class="ui-g-12 ui-md-4 pt-0"> </label>
                                        <div class=" ui-g-12 ui-md-8     pt-0 text-grey">
                                            New users will receive an email with account access instructions
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="ui-g mt-1x">
                                <div class="ui-g-12 ui-md-10 prl-0 text-right">
                                    <button class="btn-white" label="Cancel" pButton
                                            style="width:auto" type="button">
                                    </button>
                                    <button class="ml-5" label="Invite User" pButton
                                            style="width:auto" type="button">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Role & Permissions">

                    <!--Start form-->
                    <div class="form-group ui-fluid pbt-0">

                        <div class="hr mb-2x">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-10 prl-0">
                                    <div class="ui-g bdr-btm">
                                        <div class="ui-g-12 ui-md-12 text-right">

                                            <button class="btn-white" icon="pi pi-plus" label="Create new role" pButton
                                                    style="width:auto" type="button">
                                            </button>

                                        </div>


                                    </div>
                                    <div class="ui-g bdr-btm">
                                        <div class="ui-g-6 ui-md-6">

                                            Roles

                                        </div>
                                        <div class="ui-g-3 ui-md-3 text-center">

                                            Members
                                        </div>
                                        <div class="ui-g-3 ui-md-3 text-center">

                                            Created

                                        </div>

                                    </div>

                                    <div class="ui-g bdr-btm">
                                        <div class="ui-g-6 ui-md-6">

                                            <label>General</label>

                                        </div>
                                        <div class="ui-g-3 ui-md-3 text-center">

                                            <label> 1</label>
                                        </div>

                                        <div class="ui-g-3 ui-md-3 text-center">

                                            Apr 8, 2020 <span class="ml-1x">

                                    <button class="btn-white" icon="pi pi-ellipsis-h" pButton
                                            style="width:auto" type="button">
                                 </button></span>

                                        </div>

                                    </div>
                                    <div class="ui-g bdr-btm">
                                        <div class="ui-g-6 ui-md-6">


                                        </div>
                                        <div class="ui-g-3 ui-md-3 text-center">


                                        </div>
                                        <div class="ui-g-3 ui-md-3 text-center">


                                        </div>

                                    </div>
                                    <div class="ui-g bdr-btm">
                                        <div class="ui-g-6 ui-md-6">


                                        </div>
                                        <div class="ui-g-3 ui-md-3 text-center">


                                        </div>
                                        <div class="ui-g-3 ui-md-3 text-center">


                                        </div>

                                    </div>
                                    <div class="ui-g bdr-btm">
                                        <div class="ui-g-6 ui-md-6">


                                        </div>
                                        <div class="ui-g-3 ui-md-3 text-center">


                                        </div>
                                        <div class="ui-g-3 ui-md-3 text-center">


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--Start form New Role-->
                    <div class="form-group ui-fluid pbt-0">
                        <div class="hr mb-1x">
                            <h5>New Role</h5>
                        </div>
                        <div class="hr mb-2x">
                            <div class="ui-g">
                                <label class="ui-g-1 ui-md-1">Name</label>
                                <div class=" ui-g-4 ui-md-4">
                                    <input pInputText type="text">
                                </div>
                            </div>
                        </div>
                        <div class="hr mb-2x">

                            <div class="ui-g ">
                                <div class="ui-g-12 ui-md-10 bdr-light bdr-radius-4">
                                    <div class="ui-g new-role mb-4x">
                                        <div class="ui-g-6 ui-md-6">
                                            <h5 class="mb-3x">Viewer</h5>
                                            <div class="hr">
                                                <p-checkbox label="View" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="Copy" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="Comment" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="Download" name="active">
                                                </p-checkbox>
                                            </div>

                                        </div>
                                        <div class="ui-g-6 ui-md-6">
                                            <h5 class="mb-0">Editor</h5>
                                            <p class="text-grey font-sm mt-0 ">Everything the Viewer can do +</p>
                                            <div class="hr">
                                                <p-checkbox label="Create/Upload" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="Edit files and Upload" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="Access Stats and Activity for files" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="Rename file/folder " name="active">
                                                </p-checkbox>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="ui-g new-role mb-4x">
                                        <div class="ui-g-6 ui-md-6">
                                            <h5 class="mb-0">Organizer</h5>
                                            <p class="text-grey font-sm mt-0 ">Everything the Editor can do +</p>
                                            <div class="hr">
                                                <p-checkbox label="Move files/folder within Team Folder" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="Trash" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="Restore" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="Share" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="View" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="Add/Remove Team Folder members" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="Manage Team Folder member permissions "
                                                            name="active">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                        <div class="ui-g-6 ui-md-6">
                                            <h5 class="mb-0">Admin</h5>
                                            <p class="text-grey font-sm mt-0 ">Everything the Organizer can do +</p>
                                            <div class="hr">
                                                <p-checkbox label="Delete Team Folder" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="Manage Team Folder Settings" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="Move File/Folder outside Team Folder" name="active">
                                                </p-checkbox>
                                            </div>
                                            <div class="hr">
                                                <p-checkbox label="Delete files and folders from Team Folder trash "
                                                            name="active">
                                                </p-checkbox>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="ui-g mt-1x">
                                <div class="ui-g-12 ui-md-10 prl-0 text-right">
                                    <button class="btn-white" label="Cancel" pButton
                                            style="width:auto" type="button">
                                    </button>
                                    <button class="ml-5" label="Save" pButton
                                            style="width:auto" type="button">
                                    </button>
                                </div>

                            </div>
                        </div>


                    </div>

                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
