<div class="ui-g-12 ui-md-10">
    <div class="card card-w-title">
        <div class="form-group ui-fluid">
            <div class="user-cont">
            <p-tabView>
                <p-tabPanel header="User Content">
                    <div class="hr">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-3 pt-0">
                                <div class="hr mb-2x pt-15 bdr-right-md">
Left column
                                </div>

                            </div>
                            <div class="ui-g-12 ui-md-9 pt-0">
                            <div class="hr mb-2x pt-15">
                                Right column
                            </div>

                        </div>
                        </div>
                    </div>

                </p-tabPanel>
            </p-tabView>
        </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
