/*mix*/
body a { color: #146fd7;  text-decoration: none;}
body a:hover { text-decoration: underline;}
body{ text-align: left;}
body .ui-inputtext:enabled:focus:not(.ui-state-error) {
    border: 1px solid #4fc3f7;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px 0 #4fc3f7;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px 0 #4fc3f7;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px 0 #4fc3f7;
}
.img-responsive{ max-width: 100%;}
:focus { outline: none; box-shadow: none;}
.ui-dropdown label.ui-dropdown-label { line-height: 18px; text-align: left;}
body .ui-dropdown-panel .ui-dropdown-filter-container{ padding: 10px;}
body .ui-dropdown-panel .ui-dropdown-filter-container .pi { top: 18px; right: 25px;}
label{ text-align: right;line-height: 28px;}
.hr{ width: 100%; float: left;}
body .ui-inputtext, body .ui-corner-all { border-radius: 0 !important;}
.layout-wrapper .layout-menu-container .layout-main-menu{ margin-top: 20px;}
ul.layout-menu li .ui-splitbutton{ width: 90%; border: 1px solid #a0a0a0; border-radius: 4px; background: #fff; margin: 0 0 10px 10px;}
ul.layout-menu li .ui-splitbutton .ui-button{ color: #333; background: #fff; }
ul.layout-menu li .ui-splitbutton .ui-button:enabled:focus{ box-shadow: none;}
ng-tns-c3-1 ui-button ui-widget ui-state-default ui-corner-left ui-button-text-only{}
ul.layout-menu li .ui-splitbutton button:first-child{width: 53%; text-align: right;}
.layout-wrapper .layout-menu li a{ width: 85%;padding: 8px 15px; border: 0; border: none; border-top-right-radius:20px; border-bottom-right-radius:20px; }
.layout-wrapper .layout-menu li.active-menuitem > a{color: #0951a4; border: none; border-top-right-radius:20px; border-bottom-right-radius:20px; background: #bedcfe; }
li.lft-addmenu a { width: 100% !important;}
li.btm-link{ position: absolute; bottom: 70px; left: 12px;}
li.btm-link .col-1{ width: 30%; max-width: 30px; float: left;}
li.btm-link .col-2{ width: 70%; float: left; font-size: 12px; line-height: 12px; padding: 0 0 10px 0px;}
li.btm-link .col-2 a{color: #0134a8; padding: 10px 0 0 0; height: 26px; font-size: 13px; font-weight: 600;}
li.btm-link .col-2 a:hover{ text-decoration:underline !important; color: #002c8f;}
.search-box{ float: left !important; padding: 0 0 0 30px !important; width: 400px;}
.search-box li.search-item{ width: 100%;}
.search-box li.search-item input { width: 100% !important;}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active/*{ outline: none;}*/
.l-20p{left: 20%}
.card{ margin-bottom: 5px; padding: 10px;}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li a {padding: 10px 25px;}
.repository{}
.repository ul{ float: left; width: 100%; max-width: 180px; margin: 0; padding: 0; list-style: none; border-right: 1px solid #ddd; min-height: 200px;}
.repository ul li{ float: left; width: 100%; padding: 10px; font-size: 14px;}
.repository ul li:hover{ background: #f8f8f8;}
.repository ul li a{ color: #000; text-decoration: none;}
.repository ul li.active{ background: #eee;}
.user-cont .ui-tabview .ui-tabview-panel{ padding:0;}
/*input switch style*/
body .ui-chkbox {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 15px;
    height: 15px;
}
body .ui-chkbox .ui-chkbox-box {
    border: 1px solid #909090;
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    text-align: center;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    border-radius: 2px !important;
    -moz-transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
body .ui-chkbox .ui-chkbox-box:not(.ui-state-disabled):hover {
    border-color: #212121;
}
body .ui-chkbox .ui-chkbox-box.ui-state-focus {
    outline: 0 none;
    outline-offset: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #909090;color: #0061d5 !important;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active {
        border-color: #909090;
    background-color: #fff;
    color: #0061d5;
}
body .ui-chkbox .ui-inputswitch-focus { box-shadow: none !important;}
body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    display: inline-block;
    margin-top: 0;
    margin-left: 0; font-size: 14px !important;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
    border-color: #909090;
    background-color: #fff;
    color: #0061d5;
}
body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    overflow: hidden;
    position: relative;
    font-size: 18px;
}
body .ui-chkbox-label {
    margin: 0 0 0 0.5em;
}
body .ui-radiobutton {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 20px;
    height: 20px;
}
body .ui-radiobutton .ui-radiobutton-box {
    border: 1px solid #a6a6a6;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    -moz-transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
body .ui-radiobutton .ui-radiobutton-box:not(.ui-state-disabled):not(.ui-state-active):hover {
    border-color: #212121;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-focus {
    outline: 0 none;
    outline-offset: 0;
    -webkit-box-shadow: 0 0 0 0.2em #8dcdff;
    -moz-box-shadow: 0 0 0 0.2em #8dcdff;
    box-shadow: 0 0 0 0.2em #8dcdff;
    border-color: #007ad9;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #007ad9;
    background-color: #007ad9;
    color: #ffffff;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
    background-color: #ffffff;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active:not(.ui-state-disabled):hover {
    border-color: #005b9f;
    background-color: #005b9f;
    color: #ffffff;
}
body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
    background: transparent;
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -5px;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon:before {
    display: none;
}
body .ui-radiobutton-label {
    margin: 0 0 0 0.5em;
}
body .ui-inputswitch {
    width: 3em;
    height: 1.75em;
}
body .ui-inputswitch .ui-inputswitch-slider {
    -moz-transition: background-color 0.2s, box-shadow 0.2s;
    -o-transition: background-color 0.2s, box-shadow 0.2s;
    -webkit-transition: background-color 0.2s, box-shadow 0.2s;
    transition: background-color 0.2s, box-shadow 0.2s;
    border-radius: 30px;
    background: #cac8c8;
}
body .ui-inputswitch .ui-inputswitch-slider:before {
    background-color: #ffffff !important;
    height: 1.25em;
    width: 1.25em;
    left: 0.1em;
    top: 0.1em;
    bottom: 0.25em;
    border-radius: 50% !important;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
    -webkit-transform: translateX(1.25em);
    -ms-transform: translateX(1.25em);
    transform: translateX(1.25em);
}
body .ui-inputswitch.ui-inputswitch-focus .ui-inputswitch-slider {
    background: #b7b7b7;
    outline: 0 none;
    outline-offset: 0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
body .ui-inputswitch:not(.ui-state-disabled):hover .ui-inputswitch-slider {
    background-color: #b7b7b7;
}
body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #007ad9;
}
body .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover .ui-inputswitch-slider {
    background-color: #116fbf;
}
body .ui-inputswitch.ui-inputswitch-checked.ui-inputswitch-focus .ui-inputswitch-slider {
    background: #005b9f;
}
.new-role{}
.new-role .ui-chkbox{ margin-right: 7px;}
.v2{ float:left; border-radius:3px; padding:8px 10px ; color:#0061d5; font-size:14px; text-align:center; background:#ecf4fc; margin-right:10px;}
/*Backgrounds*/
.bg-grey-l{background:#f5f5f5;}
/*Datatable styling*/
.docs-library{}
.docs-library .ui-table .ui-sortable-column.ui-state-highlight{ background: none; color: #292929;}
.docs-library  .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon{ color: #292929}
.docs-library .ui-table .ui-table-thead > tr > th{
    border: none; border-bottom: 1px solid #dfdfdf; line-height: 12px; padding: 10px 8px 8px 8px;}
.docs-library .ui-table .ui-table-tfoot > tr > td{
    border: none; border-bottom: 1px solid #dfdfdf; line-height: 12px; padding: 10px 8px 4px 8px;}
.docs-library .ui-table .ui-table-tbody > tr > td{border: none; border-bottom: 1px solid #dfdfdf; line-height: 12px;
    padding: 10px 8px 4px 8px;}
.docs-library .ui-table .ui-table-tbody > tr:nth-child(even){ background: #fff;}
.docs-library .ui-table .ui-table-tbody > tr:nth-child(even):hover{ background: #f5f9fd !important;}
.docs-library .ui-table .ui-table-tbody > tr:nth-child(odd):hover{ background: #f5f9fd !important;}
.docs-library .ui-chkbox .ui-chkbox-box .ui-chkbox-icon{ line-height: 15px !important;}
.docs-library .ui-table .ui-table-tbody > tr.ui-state-highlight{ background: #f5f9fd; color: #333 !important;}
.docs-library .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight{ background: #f5f9fd; color: #333 !important;}
.dl-view-cont{ position:relative;}
.dl-view-1{
    /*overflow: auto;
    position: fixed;
    width: 80%;
    z-index: 99;
    top: 54px;
    height: 100%;*/
    background-color: #f5f5f5;border-right: 1px solid #dfdfdf;
}
.dl-view-2{}
.dl-view-1 .hr{ margin:40px auto 40px auto; width:75%; max-width:600px; text-align:center; float:none;}
.dl-view-1 .hr img{ max-width:100%; float:none;}

.dl-view-2{ background-color: #fff;}
.dl-view-1 .hr2{ max-width:100%; width:460px;float: none; margin: 0 auto 40px auto;}
.dl-view-1 .hr2 ul { width:100%; float:left; background:#3d464d; padding:5px 35px; margin:0; border-radius:4px; list-style:none;}
.dl-view-1 .hr2 ul li{ display:inline-block; padding:3px 5px; list-style:none; font-size:16px; color:#fff;line-height: 26px;}
.dl-view-1 .hr2 ul li.btn-angle .pi{ font-size:24px;}
.dl-view-1 .hr2 ul li.btn-angle a{height: 15px; float: left; }
.dl-view-1 .hr2 ul li a{ color:#fff;}
.dl-view-1 .hr2 ul li.img-zoom{ margin:0 10px; padding:0px 2px; border:1px solid #8b9094; border-radius:50%; line-height: 18px;}
.dl-view-1 .hr2 ul li.img-zoom:hover{ border:1px solid #fff;}
.dl-view-1 .hr2 ul li.img-zoom a{ color: #8b9094;line-height: 19px;}
.dl-view-1 .hr2 ul li.img-zoom a .pi{ padding: 2px 0 0 0;}
.dl-view-1 .hr2 ul li.img-zoom:hover a{ color: #fff;}
/*Table style*/
@media only screen and (min-width: 1200px){
    .table-cont {
        overflow-y: visible;
        overflow: inherit;
    }
    .new-role{ padding: 0 30px;}

}
.dl-icon{ width: 40px; float: left;}
.dl-icon img{ max-width: 22px;}
.dl-icon-det{ line-height: 35px; float: left; font-size: 13px; margin-top: -4px;}
    .table-cont {  overflow-x: scroll;overflow: auto; padding-bottom: 15px;}
    .table-md{ width: 100%; min-width: 1000px; float: left;}
    .table-sm{ width: 100%; min-width: 650px; float: left;}
.table-simple-bdr {
    width: 100%;
}

.table-simple-bdr tr {
}
.table-simple-bdr tr td {
    border-bottom: 1px solid #dfdfdf; padding:10px 10px;}
    .table-custom {
        width: 100%;
        border: 1px solid #dfdfdf;
    }

    .table-custom tr {
    }

    .table-custom tr td {
        border-bottom: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
        text-align: center;
        padding: 10px 5px;
    }

    .table-custom tr td:last-child {
        border-right: none;
    }

    .table-custom tr:last-child td {
        border-bottom: none;
    }

    .table-custom tr th {
        border-bottom: 1px solid #dfdfdf !important;
        border-right: 1px solid #dfdfdf !important;
        line-height: 24px;
        text-align: center;
        padding: 5px;
        font-weight: 600;
    }

    .table-custom tr th:last-child {
        border-right: none;
    }

    .table-custom tr:last-child th {
        border-bottom: none;
    }

    .table-custom tr td input {
        width: 90%;
    }

    .table-style tr td {
        text-align: center;
    }

    .table-style tr td a {
        font-weight: bold;
        text-decoration: none;
    }

    table.bdr-l tr td {
        border-bottom: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
    }

    table.bdr-l tr th {
        border-bottom: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
    }
/*buttons*/
button.btn-white{ background: #fff; color: #333; border: 1px solid #bcbcbc;}
button.btn-white:hover{ background: #333 !important; color: #fff; border: 1px solid #333 !important;}
button.ui-button{ border-radius: 4px !important;}
button.ui-button:focus{ outline: none; box-shadow: none;}
body .ui-button:enabled:focus{ outline: none; box-shadow: none;}sss

button:hover {
    cursor: pointer;
}

.btn-link {
    border: none !important;
    background: none !important; height:24px;
}
.btn-link:hover {
    border: none !important; color:#000;
    background: none !important;
}
/*Width*/
.w-auto{ width: auto;}

/*Borders*/
body .ui-button.ui-button-text-only .ui-button-text { padding: 6px 24px;}
.pointer:hover { cursor: pointer}
.bdr-top{border-top: 1px solid #dfdfdf;}
.bdr-right{border-right: 1px solid #dfdfdf;}
.bdr-btm-e8{ border-bottom: 1px solid #e8e8e8;}
.bdr-light{ border: 1px solid #edecec;}
.bdr-btm-0{ border-bottom: none;}
.bdr{ border: 1px solid #dfdfdf !important;}
.bdr-btm {border-bottom: 1px solid #dfdfdf !important;}
.bdr-radius-4{ border-radius: 4px;}
.bdr-radius-4 .ui-corner-all{ border-radius: 4px !important;}
/*Fonts*/
h1, h2, h3, h4, h5, h6, p {
    color: #333;
    line-height: 1.4; margin: 10px 0;
}

h4 {
    font-size: 17px !important;
    font-weight: 600 !important;
}

h5 {
    font-size: 16px;
    font-weight: 600;
}

h6 {
    font-size: 14px;
    font-weight: 600;
}

.mb3 {
    margin-bottom: 1rem;
}

.relative {
    position: relative;
}

.font-xs {
    font-size: 50% !important;
}

.font-sm {
    font-size: 80% !important;
}

.font-lg {
    font-size: 130% !important;
}
.font-xl {
    font-size: 200% !important;
}

.font-normal {
    font-weight: normal !important;
}

.font-bold {
    font-weight: bold !important;
}
.font-26 {
    font-size: 26px !important;
}
.font-48 {
    font-size: 48px !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.text-grey {
    color: #777777 !important;
}
.text-grey-d {
    color: #5b5b5b;
}
.text-orange-md {
    color: #ffb784;
}
.text-blue-md {
    color: #408ff1;
}
.text-blue {
    color: #039be5 !important;
}
.text-white{
    color: #fff !important;
}

.text-facebook {
    color: #3a5799;
}

.text-twitter {
    color: #58d2ff;
}
.text-violet {
    color: #a800c4 !important;
}
.text-red {
    color: #f00303 !important;
}
.text-red-d{ color: #84002e !important;}
.text-yellow {
    color: #f0e900 !important;
}

.text-green {
    color: #2bb223 !important;
}
.text-green-s {
    color: #26c281 !important;
}

.text-green-d {
    color: #259f09;
}

.text-orange {
    color: #ec4e1b;
}

.font-black {
    color: #000;
}

.uppercase {
    text-transform: uppercase;
}

h1 {
    font-size: 3em;
}
h3 .fa-fw{ width:auto;}
h3 .fa.pull-left{ margin-right: .1em;}
h2 {
    font-size: 2.5em !important;
}

.font-lg {
    font-size: 130% !important;
}

/*Margins*/
.m-0 {
    margin: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-2 {
    margin-bottom: 2px !important;
}
.mb-1x {
    margin-bottom: 10px;
}

.mb-2x {
    margin-bottom: 20px !important;
}
.mb-3x{ margin-bottom: 30px;}
.mt-0 {
    margin-top: 0 !important;
}

.mt-2x {
    margin-top: 20px;
}
.mt-6x {
    margin-top: 60px;
}
.mt-5x {
    margin-top: 50px;
}
.mt-3x {
    margin-top: 30px;
}

.mt-7 {
    margin-top: 7px;
}

.mt-3 {
    margin-top: 3px !important;
}

.mt-10 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 2px !important;
}
.mt-5 {
    margin-top: 5px;
}
.mr-1x{ margin-right: 10px;}
.mr-2x{ margin-right: 20px;}
.mr-3x{ margin-right: 30px;}
.mtb-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-1x {
    margin-left: 10px;
}
.ml-2x {
    margin-left: 20px !important;
}
.ml-3x {
    margin-left: 30px !important;
}
.mt-1x {
    margin-top: 10px;
}
.mt-13 {
    margin-top: 13px;
}
.mt-14 {
    margin-top: 14px;
}
.mb-6x {
    margin-bottom: 60px;
}

.mb-4x {
    margin-bottom: 40px;
}

.mtm-5 {
    margin-top: -5px;
}

/*Paddings*/
@media screen and (min-width: 769px)
{
    .ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {padding: .5em !important; }
.bdr-right-md{ border-right:1px solid #dfdfdf}

}

.p-0 {
    padding: 0 !important;
}

.p-1x {
    padding: 10px;
}
.p-2x {
    padding: 20px;
}
.pb-1x{ padding-bottom: 10px !important;}
.pl-0 {
    padding-left: 0 !important;
}
.pl-5 {
    padding-left: 5px !important;
}
.pl-7 {
    padding-left: 7px !important;
}

.pt-0 {
    padding-top: 0 !important;
}
.pt-2 {
     padding-top: 2px !important;
 }
.pt-3 {
    padding-top: 3px !important;
}
.pt-4 {
    padding-top: 4px !important;
}
.pt-5 {
    padding-top: 5px !important;
}
.pt-7 {
    padding-top: 7px !important;
}
.pt-1x {
     padding-top: 10px !important;
 }
.pt-2x {
    padding-top: 20px !important;
}
.pt-15 {
    padding-top: 15px !important;
}
.ptb-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.ptb-2x{ padding-top: 20px; padding-bottom: 20px;}
.pb-0 {
    padding-bottom: 0 !important;
}

.prl-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.prl-1x {
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.prl-2x {
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.pr-2x {
    padding-right: 20px !important;
}

.pr-5 {
    padding-right: 10px !important;
}

.pt-3x {
    padding-top: 30px;
}

.prl-5 {
    padding-right: 5px;
    padding-left: 5px;
}
@media screen and (min-width: 769px)
{
    .pl-3x-md{ padding-left: 30px !important;}
}

@media screen and (max-width: 768px)
{
    .dl-view-1{width:100%; border:none;}
    .dl-view-2{width:100%}
}
